.top{
	height:34px;
	background-color: #333;
}
.nav-list{
	float:left;
	height:34px;
	width:680px;
}
.nav-list li{
	float:left;
	font-size:12px;
}
.nav-list li>a{
	color:#b0b0b0;
}
.info{
	float:right;
	height:34px;
	width:154px;
}
.cart{
	float:right;
	height:34px;
	width:120px;

}
.header{
	height:100px;

}
.header .logo{
	float:left;
	width:55px;
	height:55px;
	margin-top:22px;
}
.header .nav-list{
	float:left;
	width:661px;
	height:100px;
	margin-left:170px;
}
.header li>a{
	text-decoration: none;
	font-size:16px;
	color:#333;
	line-height: 100px;
	margin-right:5px;
}
.header .search{
	float:right;
	width:296px;
	height:50px;
	margin-top:25px;

}
.home{
	height:832px;
	background-color: blue;
}
.main{
	height:2138px;
	background-color:orange; 
}
.footer{
	height:284px;
	background-color: gray;
}