/*抽取共同样式*/
.hd{
	height:60px;
	line-height:60px;
}
.hd .title{
	float:left;
	font-size: 22px;
}
.hd .more{
	float:right;
}
.hd .more.move{
	margin-top: 20px;
}
.hd .more.move span{
/*	display:inline-block;*/
    float:left;
	width:36px;
	height:24px;
	border:1px solid #e0e0e0;
	box-sizing: border-box;
	line-height: 24px;
	text-align: center;
	font-size:22px;
}
.hd .more.move span:hover i{
	color:#ff6700;
	cursor:pointer;
}
.hd .more.move span:first-child{
	border-right: none;
	color:#e6ebf4;
}
.hd .more.move span:last-child{
	color:#b0b4bf;
}
.hd .more.view span{
	font-size:16px;
	color:#424242;
	margin-top:0px;
	cursor: pointer;
}
.hd .more.view span:hover{
	color:#ff6700;
}
.hd .more.view span:hover i{
	background-color: #ff6700;
}
.hd .more.view span i{
	width:20px;
	height:23px;
	border-radius: 50%;
	background-color: #b0b0b0;
	color:white;
	text-align: center;
	line-height: 23px;
	vertical-align: -2px;
	margin-left: 5px;
}
.hd .more.tab .tab-item{
	float: left;
	margin-left: 30px;

}
.hd .more.tab .tab-item.active a{
	color:#ff6700;
	border-bottom: 2px solid #ff6700;
}
.hd .more.tab .tab-item a{
	font-size: 16px;
	color:#424242;
	padding-bottom: 3px;
}
.hd .more.tab .tab-item a:hover{
	color:#ff6700;
	border-bottom: 2px solid #ff6700;
}
.bd .bd-img>div{
	height: 300px;
	margin-bottom: 14px;
}
.bd .bd-img>div img{
	width: 100%;
	height: 100%;
}
.ad{
	height:120px;
	margin-top:42px;
}
.ad a img{
	width: 100%;
	height: 100%;
}
.product-list .product-item{
	width:234px;
	margin-left:14px;
	float:left;
	text-align: center;
	position: relative;
}
.product-list .product-item.product-item-l{
	height:340px;
}
/*中等图片的设置开始区域*/
.product-list .product-item.product-item-m{
	height:300px;
	margin-bottom:14px;
	background-color: #fff;
}
.product-list .product-item.product-item-m .product-img{
	margin-top:30px;
	margin-bottom:7px;
}
.product-list .product-item.product-item-m .product-name{
	margin-bottom:5px;
}
.product-list .product-item.product-item-m .product-desc{
	margin-bottom:10px;
}
.product-list .product-item.product-item-m:nth-child(1){
	margin-left:0px;
}
.product-list .product-item.product-item-m:nth-child(5){
	margin-left:0px;
}
/*中等图片的结束区域*/
/*家电小图片开始的区域*/
.product-list .product-item.product-item-s{
	height:143px;
	background-color: #fff;
	margin-bottom: 14px;
}
.product-list .product-item.product-item-s>div{
	float:left;
	text-align: left;
}
.product-list .product-item-s .s-desc{
	font-size: 12px;
	color:#333;
	margin-left: 30px;
	margin-top: 40px;
}
.product-list .product-item-s .s-desc p{
	color:#ff6700;
	margin-top: 15px;
}
.product-list .product-item-s .s-img{
	margin-top: 40px;
	margin-left: 40px;
}
.product-list .product-item-s .s-more{
	font-size: 18px;
	color:#333;
	margin-top: 40px;
	margin-left: 30px;
	border-width: 600;
}
.product-list .product-item-s .s-more p{
	color:#757575;
	font-size:11px;
	margin-top: 8px;
	border-width: normal;
}
/*家电区域评论区的处理开始*/
.product-item .comment{
	width:234px;
	height:0px;
	background-color: #ff6700;
	position:absolute;
	left:0;
	bottom: 0;
	text-align: left;
	overflow: hidden;
	transition: height 0.3s,opacity 0.3s;
	opacity: 0;
}
.product-item:hover .comment{
	height:78px;
	opacity: 1;
}
.product-item .comment .comment-content{
	font-size: 13px;
	color:#fff;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 30px;
}
.product-item .comment .comment-author{
	color:rgba(255,255,255,0.6);
	font-size: 12px;
	padding-left: 20px;
}
/*家电区域评论区的处理结束*/
.product-list .product-item .product-img{
	width:160px;
	height: 160px;
	margin-top: 50px;
	margin-bottom:20px;
}
.product-list .product-item .product-name{
	font-size: 13px;
	color:#202020;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 190px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.product-list .product-item .product-desc{
	font-size:12px;
	color:#adadad;
	margin-bottom: 20px;
}
.product-list .product-item .product-price{
	font-size: 14px;
}
.product-list .product-item .product-price span{
	color:#ff6700;
	margin-right:5px;
}
.product-list .product-item .product-price del{
	color:#adadad;
}
.product-list .product-item .mg{
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.03);
	position:absolute;
	top:0px;
	left:0px;

}
.transition-box{
		transition: box-shadow 0.3s linear,transform 0.3s linear;
}
.transition-box:hover{
		box-shadow: 0 10px 10px rgba(0,0,0,0.2);
		transform: translateY(-3px);
}
.skap{
	cursor: pointer;
}
/*top样式开始*/
	.top{
		height: 34px;
		background-color: #333;
	}
	.top .top-nav{
		float: left;
		width: 700px;
		height: 34px;
		/*background-color: green;*/
	}
	.top .top-nav .nav-list li{
		float: left;
		line-height: 34px;
	} 
	.top .user-info{
		float: right;
		width: 155px;
		height: 34px;
		line-height: 34px;
	}
	.top .user-info ul li{
		float: left;
	}
	.top .cart{
		float: right;
		width: 120px;
		height: 34px;
		background-color: #424242;
		color:#b0b0b0;
		line-height: 34px;
		text-align: center;
	}
	.top .cart:hover{
		background-color: #fff;

	}
	.top .cart:hover a{
		color:#ff6700;
	}
	.top .cart i{
		font-size: 20px;
	}
	.top .cart span{
		display: inline-block;
		vertical-align: 3px;
	}
/*top样式结束*/
/*header样式开始*/
	.header{
		/*height: 100px;*/
		/*overflow: hidden;*/
	}
	.header .logo{
		float: left;
		width: 55px;
		height: 55px;
		background-color: #ff6700;
		margin-top: 22px;
	}
	.header .header-nav{
		float: left;
		width: 661px;
		height: 100px;
		line-height: 100px;
		margin-left: 179px;
	}
	.header .header-nav .header-nav-item{
		float: left;
		margin-right: 20px;
	}
	.header .header-nav .header-nav-item a{
		font-size: 16px;
		color:#333;	
	}
	.header .header-nav .header-nav-item a:hover{
		color:#ff6700;	
	}
	.header .search{
		float: right;
		width: 295px;
		height: 50px;
		margin-top: 25px;
		position: relative;
	}
	.header .search:hover span{
		border-color: #999;
	}
	.header .search span:hover{

	}
	.header .search input{
		float: left;
		width: 243px;
		height: 50px;
		outline: none;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		border-right: none;
		padding-left: 10px;
	}
	.header .search input:focus ~ .search-list{
		display: block;
	}
	.header .search input:focus,
	.header .search input:focus ~ .search-btn{
		border-color: #ff6700;
	}
	.header .search input:focus ~ .search-hot{
		display: none;
	}
	.header .search>span:hover{
		background-color: #ff6700;
		color:#fff;
		border:none;
		cursor: pointer;
	}
	.header .search>span{
		float: left;
		width: 52px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		font-size: 24px;
		color:#616161;
	}
	.header .search .search-hot{
		position: absolute;
		font-size: 12px;
		color:#757575;
		line-height: 16px;
		text-align:center;
	}
	.header .search .search-hot div:hover{
		position: relative;
		background-color: #ff6700;
		color: #fff;
	}
	.header .search .search-hot .hot-1{
		position: absolute;
		top:16px;
		left: 127px;
		float: left;
		width: 41px;
		height: 18px;
		background-color: #eee;

	}
	.header .search .search-hot .hot-2{
		position: absolute;
		top:16px;
		left: 173px;
		width: 60px;
		height: 18px;
		background-color: #eee;
	}
	.header .search .search-list{
		display: none;
		position: absolute;
		top: 50px;
		left: 0px;
		width:243px;
		z-index: 1;
		background-color: #fff;
		border: 1px solid #ff6700;
		box-sizing: border-box;
		border-top: none;
	}
	.header .search .search-list li{
		padding-left: 15px;
	}
	.header .search .search-list li:hover{
		background-color: #eee;
	}
	.header .search .search-list a{
		line-height: 24px;
		color:#333;
	}
/*header样式结束*/
/*home样式开始*/
	.home{
		padding-bottom:42px;
	}
	.home .banner{
		height:460px;
		position:relative; 
	}
	.home .banner .cate{
		height:100%;
		width:234px;
		background-color: rgba(0,0,0,0.6);
		position:absolute;
		left:0px;
		top:0px;
		z-index:8;

	}
	.home .banner .cate ul{
		padding-top: 20px;
		padding-bottom: 20px
	}
	.home .banner .cate ul li{
		height:42px;
		line-height: 42px;
		padding-left:28px;
		padding-right:23px;
	}
	.home .banner .cate ul li:hover{
		background-color: #ff6700;
		cursor: pointer;

	}
 	.home .banner .cate ul li a{
		font-size:12px;
		color:white;
	}
	.home .banner .cate ul li i{
		float:right;
	}
	/*轮播图的绘制*/
	.home .banner .carousel {
		position:relative;
		width:1225px;
		height:460px;
	}
	.home .banner .carousel .carousel-img li{
		position:absolute;
		top:0px;
		left:0px;
	}
	.home .banner .carousel .carousel-img img{
		width:1226px;
		height:460px;
	}
	/*轮播图左右两个按钮的绘制*/
	.home .banner .carousel .btn{
		position:absolute;
		width:41px;
		height:69px;
		line-height: 69px;
		text-align: center;
		top:230px;
		margin-top:-35px;
		z-index: 9;
		font-size:30px;
		color:#757575;
		cursor: pointer;
	}
	.home .banner .carousel .btn:hover{
		background-color: rgba(0,0,0,0.6);
		color:white;
	}
	.home .banner .carousel .left-btn{
		left:234px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.home .banner .carousel .right-btn{
		right:0;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
/*轮播图右下侧三个按钮的设置 youwenti*/
	.home .banner .carousel .carousel-btn{
		position:absolute;
		bottom:25px;
		right:35px;
		
	}
	.home .banner .carousel .carousel-btn>li{
		float:left;
		width:10px;
		height:10px;
		box-sizing: border-box;
		border-radius: 50%;
		background-color: #7b8a97;
		margin-left:10px;
		border:2px solid #a3adb6;
	}
	.home .banner .carousel .carousel-btn li:nth-child(1){
		background-color: #e3f4fe;
		border-color: #889298;
	}
	.home .banner .carousel .carousel-btn li:hover{
		background-color: #e3f4fe;
		border-color: #889298;
	}
	/*小米抢购热销左侧左侧部分*/
	.home .hot{
		margin-top:14px;
		margin-bottom:26px; 
	}
	.home .hot .hot-left{
		background-color: #5f5750;
	}
	.home .hot .hot-left li{
		width:78px;
		height:85px;
		box-sizing: border-box;
		float:left;
		text-align: center;
		position:relative;
	}
	.home .hot .hot-left li.shu-line:after{
		content: "";
		display:block;
		width:1px;
		height:70px;
		background-color: #665e57;
		position:absolute;
		top:5px;
		right:0px;
	}
	.home .hot .hot-left li.heng-line:before{
		content: "";
		display:block;
		width:63px;
		height:1px;
		background-color: #665e57;
		position:absolute;
		top:0px;
		left:10px;
	}
	.home .hot .hot-left li:hover a{
		color:#fff;
	}
	.home .hot .hot-left li i{
		display: block;
		font-size:30px;
		margin-top:20px;
	}
	/*.home .hot .hot-left li i:nth-child(1){
		font-size:30px;
	}*/
	.home .hot .hot-left li a{
		font-size:10px;
	}
	/*hot热销有部分*/
	.home .hot .hot-right .hot-right-img{
		width:316px;
		height:170px;
		float:left;
		margin-right:15px;
	}
	.home .hot .hot-right .hot-right-img img{
		width: 100%;
		height: 100%;
	}
	.home .hot .hot-right .hot-right-img:nth-child(3){
		margin-right:0px;
	}
/*	.home .flash{
		height:340px;
	}*/
	/*小米闪购左部分*/
	.home .flash .bd .bd-left{
		height:340px;
		background-color: #f1eded;
		text-align:center;
	}
	.home .flash .bd .bd-left .timer-name{
		font-size:20px;
		color:#ef3a72;
		margin-top: 60px;
		margin-bottom:30px;
	}
	.home .flash .bd .bd-left .timer-desc{
		margin-top: 34px;
		font-size: 15px;
		color:#6f6d6d;
		margin-bottom: 32px;
	}
	.home .flash .bd .bd-left .timer-number{
		display:inline-block;
		width: 46px;
		height: 46px;
		background-color: #605751;
		font-size: 18px;
		color: #fff;
		text-align: center;
		line-height: 46px;
	}
	.home .flash .bd .bd-left .timer-dash{
		font-size: 28px;
	}
	/*小米闪购右部分*/
	.home .flash .bd .product-list>li:nth-child(1){
		margin-left:0px;
		border-top:1px solid #ffac13;
	}
	.home .flash .bd .product-list>li:nth-child(2){
		border-top:1px solid #83c44e;
	}
	.home .flash .bd .product-list>li:nth-child(3){
		border-top:1px solid #2196f3;
	}
	.home .flash .bd .product-list>li:nth-child(4){
		border-top:1px solid #e53935;
	}
/*home样式结束*/
/*main样式开始*/
    /*手机头部*/
	.main{
		height: 2136px;
		background-color: #f5f5f5;
		padding-top: 20px;
	}
	/**/
	.main .phone .bd .bd-img{
		height: 614px;
		background-color:red;
		transition: box-shadow 0.3s linear,transform 0.3s linear;
	}
	.main .phone .bd .bd-img:hover{
		box-shadow: 0 10px 10px rgba(0,0,0,0.2);
		transform: translateY(-3px);
	}
	.main .phone .bd .bd-img img{
		width: 100%;
		height: 100%;
	}
	.main .phone .bd .bd-list{
		height:614px;
	}
/*家电区域开始*/
	.main .elec{
		margin-top:20px;
	}
/*家电区域结束*/
/*视频区域开始*/
	.main .video{
		margin-top:20px;
	}
	.main .video .bd{
		height:285px;
	}
	.main .video .bd .video-item{
		width: 296px;
		height: 285px;
		margin-left: 14px;
		background-color: #fff;
		float:left;	
		text-align: center;
	}
	.main .video .video-item:nth-child(1){
		margin-left:0px;
	}
	.main .video .video-item .video-img{
		height:180px;
		position:relative;
	}
	.main .video .video-item .video-img:hover span{
		background-color: #ff6700;
		border-color: #ff6700;
	}
	.main .video .video-item .video-img img{
		width: 100%;
		height: 100%;
	}
	.main .video .video-item .video-img span{
		display: inline-block;
		position:absolute;
		left:21px;
		bottom:10px;
		width:36px;
		height:24px;
		border:2px solid #fff;
		box-sizing: border-box;
		border-radius: 30px;
		text-align: center;
		line-height: 20px;
		background-color: rgba(0,0,0,0.6);
	}
	.main .video .video-item  span>i{
		font-size: 30px;
		color:white;
	}
	.main .video .video-item .video-name{
		margin-top: 30px;
		font-size:14px;
		color:#333;
	}
	.main .video .video-item .video-name:hover{
		color:#ff6700;
	}
	.main .video .video-item .video-desc{
		margin-top:10px;
		font-size:12px;
		color:#b0b0b0;
	}
/*视频区域结束*/
/*main样式结束*/
/*footer样式开始*/
	.footer{
		height: 284px;
		background-color: #fff;
	}
	.footer .service{
		height:80px;
		border-bottom: 1px solid #e0e0e0;
		box-sizing: border-box;
		padding: 27px 0px;
	}
	.footer .service .service-item{
		float: left;
		width: 20%;
		height: 25px;
		text-align: center;
		line-height: 25px;
		border-right: 1px solid #e0e0e0;
		box-sizing: border-box;
	}
	.footer .service .service-item a{
		font-size: 16px;
		color:#616161;
		transition: color 0.3s;
	}
	.footer .service .service-item a:hover{
		color:#ff6700;
	}
	.footer .service .service-item a i{
		font-size: 23px;
		margin-right: 5px;
		vertical-align: -4px;
	}
	.footer .links{
		height:204px;
		padding-top: 40px;
		box-sizing: border-box;

	}
	.footer .links .links-item{
		float: left;
		margin-right: 100px;

	}
	.footer .links .links-item dt{
		font-size: 14px;
		color:#424242;
		margin-bottom: 30px;
	}
	.footer .links .links-item a{
		font-size:12px;
		color: #757575;
		cursor: pointer;
		margin-bottom: 15px;
	}
	.footer .links .links-item a>dd{
		margin-bottom: 15px;
	}
	.footer .links .links-item a:hover{
		color:#ff6700;
	}
	.footer .links .links-contact{
		float:right;
		border-left: 1px solid #e0e0e0;
		text-align: center;
		padding-left: 66px;
		padding-right:40px;

	}
	.footer .links .links-contact p:nth-child(1){
		font-size: 22px;
		color:#ff6700;
		margin-bottom: 10px;
	}
	.footer .links .links-contact p:nth-child(2),
	.footer .links .links-contact p:nth-child(3){
		font-size:12px;
		color:rgb(97,97,97);
		margin-bottom: 5px;
	}
	.footer .links .links-contact a{
		display: inline-block;
		width:120px;
		height:30px;
		border:1px solid #ff6700;
		box-sizing: border-box;
		line-height: 29px;
		margin-top: 15px;
		color:#ff6700;
		transition: all 0.3s;
	}
	.footer .links .links-contact a:hover{
		background-color: #ff6700;
		color: #fff;
	}
/*footer样式结束