body{
	font-size: 12px;
}
.container{
	width: 1220px;
	margin-left: auto;
	margin-right: auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
a{
	text-decoration: none;
}
a{
	color:#4d555d;
}
a.link:hover{
	color:#ea657a;
}
.transition{
	transition: all 0.5s
}
.dropdown{
	position: relative;
}
.dropdown-layer{
	display: none;
	position: absolute;
}